@import "tailwindcss";

@theme {
  --color-primary-50: #f0f9ff;
  --color-primary-100: #e0f2fe;
  --color-primary-500: #0ea5e9;
  --color-primary-600: #0284c7;
  --color-primary-700: #0369a1;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
  ::selection {
    @apply bg-primary-100 text-primary-700;
  }
}
